* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-size: 18px;
}

.container {
    background-color: #FCFFE7;
    margin: 0 auto;
}

.container .img img {
    margin: 0 auto;
    width: 100%;
}

.container .table {
    margin: 3rem auto;
}

.container .table tbody .img-thumbnail {
    width: 10rem;
    height: auto;
}